<div class="w-full p-5">
    <div class="text-center">
      <h1 class="text-3xl font-bold">RUTA :About Us</h1>
    </div>

    <div class="container flex flex-wrap mx-auto p-2 gap-4">

        <div class="bg-gray-700 py-10 px-5 rounded-b-md text-center text-gray-100">
            <h1 class="text-2xl font-bold">Curso especializado SSOMA</h1>
            <p>En esta sección aprenderás sobre el curso especializado SSOMA.</p>
        </div>
        <div class="bg-gray-700 py-10 px-5 rounded-b-md text-center text-gray-100">
            <h1 class="text-2xl font-bold">Curso especializado SSOMA</h1>
            <p>En esta sección aprenderás sobre el curso especializado SSOMA.</p>
        </div>
        <div class="bg-gray-700 py-10 px-5 rounded-b-md text-center text-gray-100">
            <h1 class="text-2xl font-bold">Curso especializado SSOMA</h1>
            <p>En esta sección aprenderás sobre el curso especializado SSOMA.</p>
        </div>
        <div class="bg-gray-700 py-10 px-5 rounded-b-md text-center text-gray-100">
            <h1 class="text-2xl font-bold">Curso especializado SSOMA</h1>
            <p>En esta sección aprenderás sobre el curso especializado SSOMA.</p>
        </div>

    </div>
</div>